
.burger {
    display: none;
}

.chk__burger {
    display: none;
}

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6e1;
    padding: 10px 20px;
}

.entete__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; /* espace entre les liens */
}


/* Affichage du bouton burger en-dessous de 500px */
@media screen and (max-width: 500px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    .entete__nav {
        display: none;
        flex-direction: column;
        background-color: #fff6e1;
    }

    .chk__burger:checked + .entete__nav {
        display: flex;
    }
}
