.categorie__ul{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    list-style: none;
    &__li{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 3px;
        cursor: pointer;
        background-color: bisque;
    }
   
    &__li.selected{
        background-color: rgba(93, 161, 255, 0.616);
    }
    &__li:hover{
        background-color: rgb(94, 136, 242);
    }
}
.descriptionArticleCategorie {
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    max-height: 0;
}

.descriptionArticleCategorie.open {
    opacity: 1;
}


