.contenu-pays {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.contenu-editeur{
    background-color: blanchedalmond;
    padding-top: 20px;
    
}
.rest-api{
    background-color: #42f5d4;
    padding-top: 20px;
}
.descriptionArticleCategorie {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}
.descriptionArticleCategorie.open {
    max-height: 500px;
}

